body {
  background-image: url(sprites/ground.png);
  color: lightgray;
  font-family: sans-serif;
}
#map {
  width: 100%;
  height: 500px;
}
#hp {
  background-color: red;
  width: 100%;
  height: 18px;
}
#hp-container {
  background-color: transparent;
}
#timer {
  font-weight: 700;
  font-size: larger;
}
#startButton {
  position: absolute;
  left: 0;
  bottom: 0;
}
#accelerateButton {
  position: absolute;
  right: 0;
  bottom: 0;
}
.container {
  text-align: center;
}
#shop > p {
  color: white;
}
#player {
  position: absolute;
  top: 300px;
  right: 650px;
}